/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2018, 12:28:17 PM
    Author     : Aakash
*/

body{
    padding-top: 70px;
    padding-bottom: 60px;
}

footer{
    height: 50px;
}